$color-main: #0075FF;
$secondary-color: #eee;

@mixin btn-base {
 padding: 0.25rem 0.5rem;
 border-radius: 0.25rem;
 font-size: x-large;
}
@mixin standard-small {
 font-size: large;
 padding: 0.1rem 0.1rem;
}

.btn-main {
 @include btn-base();
 background-color: $color-main;
 border: 0.1rem solid $color-main;
 color: white;

 &:hover {
  background-color: $secondary-color;
  color: $color-main;
  transition: all 250ms;
  border: 0.1rem solid $color-main;
 }
 &-small {
  @extend .btn-main;
  @include standard-small();
 }
}

.btn-secondary {
 @include btn-base();
 background-color: $secondary-color;
 border: none;
 color: black;
 &:hover {
  background-color: $secondary-color;
  color: $color-main;
  transition: all 250ms
 }
 &-small {
  @extend .btn-secondary;
  @include standard-small();
 }
}

.main-menu {
 li {
  font-size: 1rem;
  list-style: none;
  display: inline;
 }
}
.icon-sm {
 i {
  padding: 0.1rem 0.25rem;
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.25rem #00000040;
  color: $color-main;
 }
}

.feature {
 display: flex;
 flex-direction: column;
 align-items: center;
 .icon-f {
  font-size: 10rem;
  color: $color-main;
 }
 .description {
  text-align: center;
  p {
   color: #888;
  }
 }
 .cta {
  font-weight: 600;
  color: $color-main;
 }
}

.icon-desc {
 .icon {
  font-size: 8rem;
  color: $color-main;
  padding: 0;
 }
 .title {
  font: 0.75rem;

 }
}