@use "maxins" as default;

@mixin btn-base {
 padding: 0.25rem 0.5rem;
 border-radius: 0.25rem;
 font-size: 1rem;
}
@mixin standard-small {
 font-size: large;
 padding: 0.1rem 0.1rem;
}

.btn-main {
 @include btn-base();
 background-color: default.$color-main;
 border: 0.1rem solid default.$color-main;
 color: white;

 &:hover {
  background-color: default.$secondary-color;
  color: default.$color-main;
  transition: all 250ms;
  border: 0.1rem solid default.$color-main;
 }
 &-small {
  @extend .btn-main;
  @include standard-small();
 }
}

.btn-secondary {
 @include btn-base();
 background-color: default.$secondary-color;
 border: none;
 color: black;
 &:hover {
  background-color: default.$secondary-color;
  color: default.$color-main;
  transition: all 250ms
 }
 &-small {
  @extend .btn-secondary;
  @include standard-small();
 }
}

.main-menu {
 margin: 0;
 li {
  font-size: 1rem;
  list-style: none;
  display: inline;
  padding: 0 1rem;
 }
}
.icon-sm {
 i {
  padding: 0.1rem 0.25rem;
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.25rem #00000040;
  color: default.$color-main;
 }
}

.icon-desc {
 .icon {
  font-size: 8rem;
  color: default.$color-main;
  padding: 0;
 }
 .title {
  font: 0.75rem;

 }
}