@use "maxins" as default;

.features {
 display: flex;
 flex-direction: column;
 margin: auto;
 align-items: center;
}
.flex-features {
 display: flex;
 justify-content: center;
 align-items: center;
 .image {
  flex: 1;
 }
}
.feature {
 display: flex;
 width: 20rem;
 .icon-f {
  font-size: 10rem;
  color: default.$color-main;
 }
 .description {
  p {
   color: #888;
  }
 }
 .cta {
  font-weight: 600;
  color: default.$color-main;
 }
}