@use "maxins" as default;

.features {
 display: flex;
 flex-direction: column;
 margin: auto;
 align-items: center;
 .intro {
  h3 {font-weight: bold};
 }
.flex-features {
 display: flex;
 justify-content: center;
 align-items: center;
}
.feature {
 display: flex;
 justify-content: start;
 gap: 1rem;
 .icon-f {
  font-size: 10rem;
  color: default.$color-main;
 }
}
.image {
 width: 100%;
 img {
  width: 100%;
 }
}
}